@use '../../utils' as *;

.purchase-now {
    background-color: var(--rr-common-black);
    overflow: hidden;

    &__space {
        padding-top: 135px;
        padding-bottom: 150px;

        @media #{$md} {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        @media #{$sm,$xs} {
            padding-top: 70px;
            padding-bottom: 70px;
        }
    }

    .container {
        position: relative;
    }

    &__left-shape {

        .image-1 {
            width: auto;
            position: absolute;
            left: -33px;
            top: -230px;
        }

        .image-2 {
            width: auto;
            position: absolute;
            top: 130px;
            left: -400px;
        }
    }

    &__bottom-shape {

        img {
            width: auto;
        }

        .image-1 {
            animation: rotate360 60s linear infinite;
            position: absolute;
            right: -988px;
            top: -245px;
        }

        .image-2 {
            top: -5px;
            right: -763px;
            position: absolute;
            animation: rotate-360 60s linear infinite;
        }

        .image-3 {
            animation: rotate360 60s linear infinite;
            width: auto;
            position: absolute;
            right: -497px;
            display: flex;
            bottom: -354px;
        }
    }

    .section {

        &__title {
            font-size: 72px;
            line-height: 82px;
            margin-bottom: 25px;

            @media #{$xl} {
                font-size: 60px;
                line-height: 72px;
            }

            @media #{$lg} {
                font-size: 52px;
                line-height: 64px;
            }

            @media #{$md} {
                font-size: 50px;
                line-height: 52px;
            }

            @media #{$sm} {
                font-size: 38px;
                line-height: 50px;
            }

            @media #{$xs} {
                font-size: 32px;
                line-height: 44px;
            }
        }
    }

    p {
        font-weight: var(--rr-fw-bold);
        font-size: 18px;
        margin-bottom: 0;
        color: var(--rr-common-white);
    }

    .purchase-btn {
        .rr-btn {
            
            &:hover {
                color: var(--rr-heading-primary);
            }

            span {
                background-color: var(--rr-common-white);
            }
        }
    }

}