@use '../../utils' as *;

/*----------------------------------------*/
/*  10.5 our-features-1
/*----------------------------------------*/
.our-features {
    position: relative;
    overflow: hidden;

    &__bg {
        left: 50%;
        width: 1470px;
        height: 318px;
        bottom: -223px;
        position: absolute;
        filter: blur(175px);
        border-radius: 1470px;
        transform: translate(-50%, 0px);
        background: rgba(1, 89, 65, 0.65);
    }

    &__item {
        padding-top: 45px;
        padding-left: 50px;
        padding-bottom: 45px;
        padding-right: 45px;
        border-radius: 15px;
        border: 1px solid #E9E9E9;
        background: #FFF;

        @media #{$xl} {
            padding-left: 25px;
            padding-right: 25px;
        }

        @media #{$lg, $md, $sm, $xs} {
            margin-bottom: 40px;
        }

        @media #{$md, $sm, $xs} {
            padding: 30px 20px;

        }

        & h4 {
            br {
                @media #{$xl, $xs} {
                    display: none;
                }
            }
            @media #{$xl} {
                font-size: 25px;
            }
            @media #{$xs} {
                font-size: 23px;
            }
            
        }

        &-icon {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include border-radius(500px);
            border: 1px solid #E9E9E9;
            margin-bottom: 30px;


            @media #{$xs} {
                width: 90px;
                height: 90px;
            }

            img {
                width: auto;

                @media #{$xs} {
                    width: 50px;
                }
            }
        }
    }
}

.mb-minus-30{
    margin-bottom: -30px;
}